<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index usuarios</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
</head>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>



<table>
  <li class="nav-item">
    <%= link_to "Nuevo usuario",  new_user_registration_path, class: 'btn btn-primary' %>
  </li>
  <% if @users.present? %>
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Correo electrónico</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.role_int %></td>
          <td>
            <% if not user.admin? %>
            <%= link_to 'Editar', edit_user_registration_path(user) %>
            <% if user.active%>
            <% if current_user.admin? %>
            <%= button_to "Desactivar", desactivar_user_path(user), method: :delete, data: { confirm: '¿Estás seguro que quieres desactivar este usuario?' }, class: "btn btn-link" %>
            <% end %>
            <% else %>
            <p>Usuario inactivo</p>
            <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% else %>
  <p>No hay usuarios disponibles</p>
  <% end %>

</html>