<html>
<head>
<style>
form {
  background: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
}

.field {
  margin-bottom: 15px;
}

label {
  font-size: 14px;
  color: #555;
  display: block;
  margin-bottom: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.input-field:focus {
  border-color: #4CAF50;
  outline: none;
}

.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #45a049;
}

em {
  font-size: 12px;
  color: #888;
}

</style>

</head>

<h2>Crear nuevo usuario</h2>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, class: "input-field" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field" %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone, class: "input-field" %>
  </div>

  <div class="field">
  <%= f.label :role_int, "Role" %><br />
  <% roles = current_user.manager? ? User.role_ints.keys.select { |role| %w(manager employee).include?(role) } : User.role_ints.keys %>
  <%= f.select :role_int, roles.map { |role| [role.titleize, role] }, {}, class: "input-field" %>
</div>


  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "input-field" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn-submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</html>